@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}

@keyframes drawPath {
  to {
    stroke-dashoffset: -100;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#hero-section-right-90 {
  transform: rotate(90deg);
  right: 0;
  top: 0;
}

#section-right-90 {
  transform: rotate(90deg);
  right: 7%;
  margin-top: -15%;
}

#section-left-90 {
  transform: rotate(-90deg);
  left: 7%;
  margin-top: -20%;
}

.circuit-no-fill,
.circuits,
.circuit-top-group {
  margin: 20px;
  width: 100px;
  position: absolute;
}

.circuit-no-fill {
  fill: none;
  stroke: #636689;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 2px;
  stroke-miterlimit: 10;
  
  animation-delay: 2s;
  animation-direction: alternate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: dash;
  animation-timing-function: ease-in-out;
}

.circuit-bottom-group {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  width: 135px;
}