---
layout: base.njk
class: star-bg
---

<div class="hero-section">
  <!-- <div class="illustration">
    <img class="illustration-moon" alt="" src="/assets/images/moon.jpg">
  </div> -->
  <h1 class="hero-title">Science Hack Day India</h1>
  <p class="hero-info">
    October 27 - 29, 2023<br/>
    Belgaum, India
  </p>
  <div class="hero-cta">
    <a class="primary-btn" target="_blank" href="https://konfhub.com/shdindia" rel="noopener noreferrer">
      Buy Tickets
    </a>
  </div>
</div>
<section class="about-section">
  <h2 class="section-title">What is Science Hack Day?</h2>
  <div class="flex-container">
    <div class="text-container">
      <p>
        Science Hack Day is a three-day event where anyone excited about making weird,
        silly or serious things with science comes together in the same physical space
        to see what they can prototype within 36 consecutive hours. Designers, developers,
        artists, scientists and people from any background are welcome to attend – no
        experience in science or hacking is necessary, just an insatiable curiosity.
        The event is organized by volunteers, and supported via sponsors. SHD India
        2023 will be our 6th annual event!
      </p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/lXkqKo1Ko3E" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
