---
layout: page.njk
title: Projects
---
<ul class="projects">
  {% for item in projects %}
  <li class="project-item">
    <a class="section-title" style="color:#ffc" {% if item.contact %}href="{{ item.contact }}"{% endif %} >{{ item.title }}</a>
    <p>
      {{ item.description }}
    </p><br />
    <p>Team: <a {% if item.contact %}href="{{ item.contact }}"{% endif %}>{{ item.creator }}</a></p>
  </li>
  {% endfor %}
</ul>
