---
layout: page.njk
title: Workshop
class: star-bg
---
<div class="workshop">
  <div class="workshop-subgroup">
    <h2 class="section-title">Science Toys & Demos</h2>
    <p>
      Kids built different science toys and demos.
    </p>
  </div>
  <div class="workshop-subgroup">
    <h2 class="section-title">Soldering & Electronics</h2>
    <p>
      People built an <a href="/writeups/soldering">intruder alert system</a> using soldering and electronics.
    </p>
  </div>
  <div class="workshop-subgroup">
    <h2 class="section-title"> Arduino & Kuttypy</h2>
    <p>
      Kids were taught basics of programming using LEDs, breadboards, <a href="https://kuttypy.readthedocs.io/en/latest/workshopnano/" target="_blank">Arduino Nano and KuttyPy.</a>
    </p>
  </div>
  <div class="workshop-subgroup">
    <h2 class="section-title">World of Microbes</h2>
    <p>
      The world of microbes was demonstrated using microscopes.
    </p>
  </div>
</div>
