---
layout: page.njk
title: Workshop
class: star-bg
---
<div class="workshop">
  <div class="workshop-subgroup">
    <h2 class="section-title">Science Toys & Demos</h2>
    <p>
      Kids built different science toys and demos.
    </p>
  </div>
  <div class="workshop-subgroup">
    <h2 class="section-title">Soldering & Electronics</h2>
    <p>
      People built an intruder alert system using soldering and electronics.
    </p>
  </div>
  <div class="workshop-subgroup">
    <h2 class="section-title"> Arduino & Kuttypy</h2>
    <p>
      Kids were taught basics of programming using LEDs, breadboards, Arduino Nano and KuttyPy.
    </p>
  </div>
  <div class="workshop-subgroup">
    <h2 class="section-title">World of Microbes</h2>
    <p>
      The world of microbes was demonstrated using microscopes.
    </p>
  </div>
</div>
