.tagline {
    font-size: 40px;
}

a {
    color: #c34d0f;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #c34d0f;
    border-color: #c34d0f;
}

.btn-primary:hover {
    color: #c34d0f;
    background-color: #fff;
    border-color: #c34d0f;
}

.nav>li>a:focus, .nav>li>a:hover {
  color: #ffffff;
    text-decoration: none;
    background-color: #c34d0f;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #c34d0f;
    border-color: #c34d0f;
    color: #ffffff;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #ffffff;
    text-decoration: bold;
    background-color: #c34d0f;
}

.navbar.navbar-fixed-top {
    background: white;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 10px;

.navbar-toggle {
  background-color: #c34d0f;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #c34d0f;
}

.navbar-toggle .icon-bar {
     color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.btn-primary.focus, .btn-primary:focus {
  color: #c34d0f;
  text-decoration: none;
  background-color: #ffffff;
  border-color: #c34d0f;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #c34d0f;
}

.navbar-inverse .navbar-nav>li>a:focus .navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #c34d0f;
}


a:focus, a:hover {
  color: #ffffff;
  background-color: #c34d0f;
  text-decoration: underline;
}
