<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if title %}{{ title | e }} - {%endif%}Science Hack Day India 2022</title>
  <meta name="theme-color" content="#3c396d">

  <!-- Search Engine -->
  <meta name="description" content="{{ description }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat+Alternates:wght@400;500;700;900&family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/styles.css" />
  <link rel="icon" href="/assets/images/favicon.ico">
</head>
<body>
  {% include "header.njk" %}

  <main class="site-content" id="content">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
</body>
</html>