<style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>



<header class="site-header">
    
    <!-- Logo and title -->
	<div class="branding">
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>
	</div>
    
    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>
    <!-- Menu -->
    <ul class="hide">
        <!-- Auto Generation of NORMAL pages in the navbar -->
        {% assign name_page = "" %}
        {% for page in site.pages %}
        {% if page.title and page.hide != true %}
        {% if name_page contains page.title %}
        {% else %}
        <li class="separator"> | </li>
        <li>
            <a class="clear" href="{{ page.url | relative_url }}">
                {{ page.title }}
            </a>
        </li>
        {% endif %}
        {% assign name_page = page.title | append: name_page %}
        {% endif %}
        {% endfor %}    
		<li><div class="dropdown"> <span>Archive</span>
  			<div class="dropdown-content">
    			<a href="{{ site.baseurl }}/2016/index.html" target="_blank" >SHD 2016</a>
    			<a href="{{ site.baseurl }}/2017/index.html" target="_blank" >SHD 2017</a>
			</div>
			</div></li>
	<li> <a href="http://sciencehackday.org/"target="_blank"> Global SHD</a></li>
     </ul>
     </nav>
</header>
