@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
  .navbar-custom
  {
    position: fixed;
    top: auto;
  }
}

.navbar-toggle {
  background-color: #c34d0f;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #c34d0f;
}

.navbar-toggle .icon-bar {
     color: white;
}
