:root {
  --color-light-blue: #46ccff;
  --color-blue: #244a84;
  --color-dark-blue: #172f52;
  --color-yellow: #f3dcaa;
  --color-white: #d9f5ff;
  --color-black: #000000;
  --title-font: 'Montserrat Alternates', sans-serif;
  --font: 'Roboto Mono', monospace;
  --spacing: clamp(1.25rem, calc(0.88rem + 1.62vw), 2rem);;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--font);
}

/* Hide focus styles if they're not needed, for example,
when an element receives focus via the mouse. */
:focus:not(:focus-visible) {
  outline: 0;
}

/* Show focus styles on keyboard focus. */
:focus-visible {
  outline: 3px solid var(--color-yellow);
  outline-offset: 3px;
}

.site-header, .site-footer, .site-content > * {
  padding: 0 var(--spacing)
}

/* Navigation */
.skip-link {
  position: absolute;
  top: 1rem;
  left: calc((100vw - 1400px)/2);
  background: var(--color-pink);
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  padding: 1rem 2rem;
  font-weight: 600;
}

.skip-link:not(:focus) {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.nav {
  max-width: 1400px;
  margin: calc(var(--spacing) / 2) auto 0;
}

@media (min-width: 768px) {
  .nav.mainnav {
    display: flex;
    align-items: center;
  }
}
.homelink {
  display: inline-flex;
}
.homelink img {
  max-height: 90px;
}

.nav__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: fit-content;
  margin-left: auto;
}

.nav__item {
  padding: min(2vw, 1rem) min(3vw, 2rem);
}

.nav__link {
  color: var(--color-yellow);
  text-decoration: none;
  font-weight: bold;
}


.nav__link[aria-current=page] {
  text-decoration: underline;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link.primary {
  color: var(--color-white);
  padding: 0.35rem 1.5rem;
  border: 5px solid var(--color-pink);
}
.nav__link.primary:hover {
  background-color: var(--color-pink);
}

/* Typography */
h1, h2, h3, h4 {
  font-family: var(--title-font);
  margin: 1rem 0;
}
.hero-title {
  font-family: 'Monoton', monospace;
  font-size: clamp(3.00rem, calc(2.14rem + 4.29vw), 6.00rem);
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--color-yellow);
}

.page-title {
  font-size: clamp(2.88rem, calc(2.48rem + 2.00vw), 3.91rem);;
  line-height: 1.2;
}

.section-title {
  font-size: clamp(2.00rem, calc(1.80rem + 0.98vw), 2.50rem);
  line-height: 1.2;
  margin-bottom: clamp(1.25rem, calc(0.37rem + 4.39vw), 3.50rem);

}

.section-subtitle {
  font-size: clamp(1.39rem, calc(1.31rem + 0.41vw), 1.60rem);
  color: var(--color-yellow)
}

/* Components */
.primary-btn {
  display: inline-block;
  padding: 0.8rem 1.75rem;
  color: var(--color-dark-blue);
  background-color: var(--color-yellow);
  outline: 5px solid var(--color-yellow);
  outline-offset: 5px;
  font-weight: 600;
  text-decoration: none;
}

.custom-shape-divider-wave {
  position: absolute;
  right: 0;
  margin-top: 5rem;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-wave svg {
  position: relative;
  display: block;
  width: 100%;
  transform: rotateY(180deg);
  height: 120px;
}
.custom-shape-divider-wave1 {
  position: absolute;
  right: 0;
  margin-top: -3rem;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-wave1 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 120px;
}

.illustration {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.illustration > img {
  position: absolute;
}

.illustration .illustration-geometry {
  right: 0;
  top: 0;
}

.illustration .illustration-head {
  right: 0.75rem;
  top: 7.5rem;
  opacity: 0.3;
}
@media (max-width: 1024px) {
  .illustration .illustration-head {
    display: none;
  }
}

/* Sections */
section > * + * {
  margin-top: var(--spacing);
}
.site-content > *:not(.section-dark) {
  max-width: 1440px;
  margin: auto;
}
.section-dark {
  padding: max(calc((100vw - 1440px) / 2 + var(--spacing)), var(--spacing));
  background: var(--color-dark-blue);
}

.hero-section {
  padding-top: 2rem;
  padding-bottom: calc(5rem + 120px); /* 5rem margin top of svg divide + 120px height of svg */
}

.hero-section .hero-title {
  max-width: 60rem;
}

.hero-section .hero-cta {
  display: flex;
  justify-content: center;
}

.hero-info {
  margin: 2.5rem 0 5rem;
  font-size: clamp(1.50rem, calc(1.07rem + 2.14vw), 3.00rem);
  font-family: var(--title-font);
  font-weight: 700;
}

.page-title-section {
  padding: var(--spacing);
}
.page-title-section .custom-shape-divider-wave {
  margin-top: 0;
}

.text-container > ul, .text-container > ol {
  padding-left: 2rem;
}

.text-container a {
  color: var(--color-yellow)
}

.text-container > p + p {
  margin-top: 1rem;
}

.about-section {
  padding-top: 3rem;
  padding-bottom: clamp(6.00rem, calc(3.46rem + 12.68vw), 12.50rem);
}

.about-section .section-title{
  text-align: center;
}

.about-section iframe {
  max-width: 100%;
}

@media (min-width: 1024px) {
  .about-section .flex-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    align-items: center;
  }
  .about-section .flex-container .text-container {
    max-width: 50%;
  }
}

.info-section {
  padding-top: 3rem;
  padding-bottom: clamp(6.00rem, calc(3.46rem + 12.68vw), 12.50rem);
}
.info-section .section-title{
  max-width: 35.5rem;
}

@media (min-width: 1024px) {
  .info-section .section-subtitle {
    margin-top: 5rem;
  }
  .info-section .flex-container {
    display: flex;
    gap: 4rem;
  }
  .info-section .flex-container > * {
    flex: 1;
  }
}

.sponsor-section {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.sponsor-section .section-title {
  margin-top: 120px; /* 120px is height of svg separator */
}
.sponsor-items {
  display: flex;
  flex-wrap: wrap;
}
.sponsor-item {
  list-style: none;
  margin: var(--spacing);
}
.sponsor-item a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 7.5rem;
  background: var(--color-white);
  box-shadow: 10px 10px 0 0 var(--color-yellow);
}
.sponsor-item img {
  max-width: 100%;
  max-height: 100%;
  padding: 0.5rem;
}

.site-footer {
  max-width: 1440px;
  margin: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.site-footer a {
  color: var(--color-yellow)
}
.site-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.footer-header {
  font-size: 1.25rem;
  font-family: var(--font);
}
.nav-footer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer-tech {
  border-top: 1px solid gray;
  text-align: center;
  padding-top: 1rem;
}

/* Schedule */
.schedule {
  padding: var(--spacing) 0;
}
.date-tabs {
  margin-bottom: 2rem;
}
.date-tabs [role=tab] {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 5px solid var(--color-pink);
  color: var(--color-white);
  margin: 0 0.5rem 0.25rem;
  font-weight: 600;
  font-size: 18px;
}
.date-tabs [role=tab][aria-selected=true] {
  background-color: var(--color-pink);
}

.date-agenda {
  margin: 0 auto;
  max-width: 900px;
}

.date-agenda-item {
  display: grid;
  grid-template-columns: clamp(6.50rem, calc(6.07rem + 2.14vw), 9.00rem) clamp(1.50rem, calc(0.86rem + 3.21vw), 3.75rem) auto;
  border-bottom: 1px solid var(--color-light-blue);
  padding: 1rem 0.25rem;
  list-style-type: none;
}

.date-agenda-item .time {
  font-family: var(--title-font);
  font-size: clamp(1.25rem, calc(1.19rem + 0.41vw), 1.60rem);
  text-align: right;
}
.date-agenda-item .separator {
  text-align: center;
  font-family: var(--title-font);
}
.date-agenda-item .description {
  font-size: 1.175rem;
  display: flex;
  flex-direction: column;
}
.date-agenda-item .description .location {
  font-size: 0.85rem;
  color: #b7b6b6;
}