---
layout: base.njk
class: star-bg
---

  <h1 class="hero-title">Coupled Harmonic Oscillator</h1>
  <p class="hero-info">
    Created By Praveen, Ishaan, Jithin
  </p>

<section class="about-section">
  <h2 class="section-title">What is this?</h2>

  <div class="flex-container">

    <div class="text-container">
      <p>
      	It is what it is. Two big metal bobs connected together by a weighted string. The oscillations are tracked using a LIDAR for one pendulum, and a Gyroscope for the other. Movements are recorded using <a href="https://csparkresearch.in/seelab3" target="_blank">SEELab3</a><br>
      	
      	
      </p>
    </div>

    <div class="text-container">
    <iframe width="560" height="560" src="https://www.youtube-nocookie.com/embed/E1vvTJXLEtI" title="YouTube video player" frameborder="0" allowfullscreen></iframe>

    </div>

  </div>


</section>

