---
layout: base.njk
class: star-bg
---

  <h1 class="hero-title">Soldering Workshop</h1>
  <p class="hero-info">
    Intruder Detection with : Sound Module, Speaker, Battery, Radar.
  </p>

<section class="about-section">
  <h2 class="section-title">What is this?</h2>

    <img class="ui image fluid" alt="" src="/assets/images/schematic.png">
    


</section>
    make responsive.

