h1.title {
    @extend .header-txt-shadow;
}

.subtitle {
    font-weight: normal;
    margin-top: 5px;
    text-shadow: 1px 1px 2px $text-shadow;
}
 /* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 80%;
        display: block;
    }
}

/* Add some shadows to create a card effect 
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}
.circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}
/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button:hover {
    background-color: #555;
} 
//Shared css in _post.scss
